.CurrentDayWeather {
  padding-top: 2rem;

  .city {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .temperature {
    font-size: 10rem;
    font-weight: 700;
    margin: 1.4rem 0;
  }

  .min-max,
  .wind-humidity {
    display: flex;
    justify-content: space-between;
  }

  .min-max {
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .wind-humidity {
    font-weight: 500;
    font-size: 0.8rem;
  }
}
